@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-apple-gray text-gray-900 antialiased;
    font-feature-settings: "cv11", "ss01";
  }
}

.glass {
  @apply bg-white/70 backdrop-blur-xl border border-white/20 shadow-sm;
}
